body {
    background-color: #FDF5DF;
}
h1 {
    color: #01579B;
    font-family: 'Ailerons', sans-serif;
    font-size: 200px;
    text-align: center;
    margin: auto;
    margin-top: 50%;

}


.wrap {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
  
.item {
    flex: 1;
    height: 100px;
    background: teal;
    margin-right: 5px;
}

.item:last-child {
    margin-right: 0;
}

.card-library{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    border-radius: 10px;
    overflow: hidden;
  }
  
.card {
    background-color: black;
    height: 20%;
    width: auto;
}
img {
    height: 50%; 
    object-fit: contain;
    width: auto; /* or any custom size */
    margin-top: 100px;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    transition: .5s ease;
  }
  
.card button:active {
    transform: translateY(2px);
}

.card:hover{
    box-shadow: 0 0 0 10px #03fc6b;
    transition: .5s ease;
}

.w3-black,.w3-hover-black:hover{color:#FDF5DF!important;background-color:#5EBEC4!important}
.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 #5EBEC4,0 2px 10px 0 #5EBEC4}