body {
    background-color: #FDF5DF;
}
h1 {
    color: #01579B;
    font-family: 'Ailerons', sans-serif;
    font-size: 200px;
    text-align: center;
    margin: auto;
    margin-top: 50%;

}
p {
    color: red;
}

.wrap {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
  
.item {
    flex: 1;
    height: 100px;
    background: teal;
    margin-right: 5px;
}

.item:last-child {
    margin-right: 0;
}

.card-library{
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 80%;
    margin-top: 50px;
  }
.card {
    background-color: black;
    height: 20%;
    width: 20%;
}
  
img {
    height: 50%; 
    object-fit: contain;
    width: 50%; /* or any custom size */
}

.w3-black,.w3-hover-black:hover{color:#FDF5DF!important;background-color:#5EBEC4!important}
.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 #5EBEC4,0 2px 10px 0 #5EBEC4}