body {
    background-color: whitesmoke;
}
h1 {
    color: #01579B;
    font-family: 'Ailerons', sans-serif;
    font-size: 200px;
    text-align: center;
    margin: auto;
    margin-top: 50%;

}
p {
    color: red;
}