body {
    background-color: whitesmoke;
}
h1 {
    color: #01579B;
    font-family: 'Ailerons', sans-serif;
    font-size: 200px;
    text-align: center;
    margin: auto;
    margin-top: 50%;

}
p {
    color: red;
}


.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}
.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}